<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <title> Contact </title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/flex-box-formatting.css">
</head>

<body> 
    <nav>
        <!-- Logo -->
        <span id="logo">
            <img src="../images/sun.png" alt="Logo">
            <span>Star Scientist</span>
        </span>

        <span class="links">
            <!-- Contact Link -->
            <a href="contact-page.html">Contact Us</a>

            <!-- Game Link -->
            <a href="game-page.html">Play Now</a>

             <!-- Home Link -->
            <a href="main-page.html">Home Page</a>

        </span>
    </nav>
    
    <div id="main-body">  
        <div id="contacts-section">
            <div class="contact-card">
                <img src="../images/guy.jpg" alt="steve">
                <div>Willy</div>
            </div>
            <div class="contact-card">
                <img src="../images/guy.jpg" alt="steve">
                <div>Ulric</div>
            </div>
            <div class="contact-card">
                <img src="../images/guy.jpg" alt="steve">
                <div>Johnny</div>
            </div>
        </div>
    </div>

    <footer>
        Copyright 2024 by William Chenevert. All Rights Reserved. Powered by hardwork.
    </footer>
</body>
</html>