<!DOCTYPE HTML>
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <title> Star Scientist</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" type='text/css' href="../styles/formatting.css">

    <script type="module" src="../scripts/core.js"></script>
</head>

<body> 
    <nav id="navigation">
        <!-- Logo -->
        <span id="logo">
            <img src="../images/sun.png" alt="Logo">
            <span id="logo-text">Star Scientist</span>
        </span>

        <ul id="links">
            <!-- Contact Link -->
            <a href="contact-page.html">Contact</a>

            <!-- Game Link -->
            <a href="game-page.html">Game</a>

             <!-- Home Link -->
            <a href="main-page.html">Home</a>
        </span>
    </nav>

    <div id="info-bar"> 
        <div id="options">
            <h4><b>Options</b></h4>
            <form id="options-form">
            <div class="input-container">
                <div><label for="templates-input"> Templates: </label></div>
                <select id="templates-input" name="Templates" class="styled-input">
                    <option value="Custom">Custom</option>
                    <option value="Sun">Sun</option>
                    <option value="BI 253">BI 253</option>
                    <option value="Phi Orionis">Phi Orionis</option>
                    <option value="Epsilon Eridani">Epsilon Eridani</option>
                    <option value="Alpha Coronae Borealis">Alpha Coronae Borealis</option>
                    <option value="Eta Arietis">Eta Arietis</option>
                    <option value="Epsilon Eridani">Epsilon Eridani</option>
                    <option value="70 Ophiuchi">70 Ophiuchi</option>
                    <option value="Lacaille 8760">Lacaille 8760</option>
                    <option value="VB 10">VB 10</option>
    
                </select>
            </div>

            <div class="input-container">
                <div><label for="mass-input"> Mass: </label></div>
                <input type="text" id="mass-input" class="styled-input" value="1" max="99"></div>

            <div class="input-container">
                <div><label for="radius-input"> Radius: </label></div>
                <input type="text" id="radius-input" class="styled-input"  value="1"max="99">
            </div>
            
        </form></div>
        <br>
        <div class="styled-metrics">
            <h4 ><div><b>Metrics</b></h4>
            <div id="metrics">Scripting not supported!</div>
        </div>
        <br>
        <div class="styled-metrics">
            <h4 ><div><b>Estimated Timeline</b></h4>
            <div id="timeline"></div>
        </div>
    </div>
    
    </div>

    <div id="star-visual">
        <canvas id="atmosphere-layer" width="500" height="500"></canvas>
        <canvas id="chromosphere-layer" width="500" height="500"></canvas>
        <canvas id="background-layer" width="500" height="500"></canvas>

    </div>

</body>
</html>