<!DOCTYPE HTML>
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <title> Star Scientist</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/game-formatting.css">

    <script src="../scripts/star_scientist_core.js" ></script>
</head>

<body onload="main()"> 
    <div><nav id="navigation">
        <!-- Logo -->
        <span class="logo">
            <img src="../images/sun.png" alt="Logo">
            <span>Star Scientist</span>
        </span>

        <ul class="links">
            <!-- Contact Link -->
            <a href="contact-page.html">Contact</a>

            <!-- Game Link -->
            <a href="game-page.html">Game</a>

             <!-- Home Link -->
            <a href="main-page.html">Home</a>

        </span>
    </nav></div>

    <div id="info-bar"> 
        <div><form>
            <div><label for="mass-input"> Mass </label>
            <input type="text" id="mass-input" class="styled-input" value="1">
            <button type="button" class="styled-submit" onclick="main()">&#8634</button></div>

            <div><label for="radius-input"> Radius </label>
            <input type="text" id="radius-input" class="styled-input"  value="1">
            <button type="button" class="styled-submit" onclick="main()">&#8634</button></div>
        </form></div>
        <br>
        <div id="metrics">Output error</div>
    
    </div>

    <div id="star-visual">
        <canvas id="atmosphere-layer" width="500" height="500"></canvas>
        <canvas id="chromosphere-layer" width="500" height="500"></canvas>
        <canvas id="background-layer" width="500" height="500"></canvas>

    </div>
    
</body>
</html>