<!DOCTYPE HTML>
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <title> Star Scientist</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/formatting.css">

    <script src="../scripts/testing_function.js" ></script>
    <script src="../scripts/star_scientist_core.js" ></script>
</head>

<style>
    #box {
        width: 10em; 
        padding: 2em; 
        background-color: blue;
    }
</style>

<body onload="main()">
    <div id="box" onload="main.function_test()">
        Hey! I am a textbox and I am ready for some javascript!
    </div>
</body>
</html>