<!DOCTYPE HTML>
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <title> Star Scientist</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/formatting.css">
    
    <script src="../scripts/knockout-3.5.1.js" ></script>
    <script type="module" src="../scripts/testing_function.js"></script>

</head>

<style>
    #box {
        padding: 2em; 
        background-color: blue;
    }
</style>

<body>
    <div id="box">
        <p>First name: <strong data-bind="text: first_name">todo</strong></p>
    </div>

    
</body>
</html>