<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self'; 
    script-src 'self' 'sha256-vvt4KWwuNr51XfE5m+hzeNEGhiOfZzG97ccfqGsPwvE=' 'unsafe-eval'; 
    style-src 'self'; 
    font-src 'self';
    img-src 'self' data:;
    connect-src 'self';
    object-src 'none';
    base-uri 'self';">

    <title> Home </title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">

    <link rel="stylesheet" type='text/css' href="../styles/formatting.css">
</head>

<body> 
    <nav id="navigation">
        <!-- Logo -->
        <span id="logo">
            <img src="../images/sun.png" alt="Logo">
            <span id="logo-text">Star Scientist</span>
        </span>

        <ul id="links">
            <!-- Contact Link -->
            <a href="contact-page.html">Contact</a>

            <!-- Game Link -->
            <a href="game-page.html">Game</a>

             <!-- Home Link -->
            <a href="main-page.html">Home</a>
        </span>
    </nav>

    <div id="game-link-section">   
        <h1> Envision <strong>Stars</strong></h1>
        <div><br></div>
        <div><a href="game-page.html"> Play Now </a></div>
    </div>

    <div>
        <div class="info-section">
            <img src="../images/Blue Star.jpg", alt="Blue Star">

            <div class="content-font text-boxes">
                <h3>Why Stars?</h3>
                <div>Stars, the luminous jewels of the cosmos, are fundamental to the study of astronomy for myriad reasons. Firstly, they are invaluable celestial laboratories, allowing astronomers to probe the depths of space and time, unraveling the mysteries of stellar evolution and cosmic phenomena. Stars serve as cosmic beacons, illuminating distant galaxies and providing insights into the universe's structure and composition. Furthermore, they offer crucial data for understanding the origins of elements and the processes driving the universe's dynamics. By studying stars, astronomers gain profound insights into the universe's past, present, and future, paving the way for advancements in astrophysics and our understanding of the cosmos.</div>
            </div>
        </div> 
        <div class="info-section">
            <img src="../images/Brown Dwarf.jpg" alt="Brown Star">

            <div class="text-boxes content-font">
                <h3>Star Scientist?</h3>
                <div>In the digital cosmos, the Online Star Creator reigns supreme. Armed with pixels instead of paintbrushes, they sculpt their masterpieces across virtual landscapes, captivating audiences with a mere click. Through screens, they connect worlds, crafting content that entertains, educates, and inspires. Their canvas is social media, their tools emojis and hashtags. Yet, their impact transcends pixels; it resonates in the hearts of followers worldwide. With each upload, they weave narratives, build communities, and redefine influence. The Online Star Creator isn't just an artist; they're a phenomenon, shaping culture, shaping minds. In the vast expanse of the internet, they shine as constellations of creativity.</div>
            </div>
        </div> 
    </div>

    <footer id="footer-section">
        Copyright 2024 by William Chenevert. All Rights Reserved. Powered by hardwork.
    </footer>
</body>
</html>
