<!DOCTYPE HTML>
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <title> Star Scientist</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/formatting.css">

</head>

<style>
    #box {
        padding: 2em; 
        background-color: blue;
    }
</style>

<body>
    <div id="box">
        <div data-bind="foreach: templates">
            <div><span data-bind="text: name"></span> <span data-bind="text: mass"></span> <span data-bind="text: radius"></div></span>
        </div>
    </div>

    
</body>
</html>