:root {
    --font-color: white;
    --main-font: 'Proxima Nova';
    --backup-font: 'Helvetica';
    
    --primary-color: #384e8d;
    --darker-primary-color: #4662b0;
}

body {
    background-color: #000000;
    color: white;
    font-family: var(--main-font), var(--backup-font);

    margin: 0;
    min-height: 100vh;

   /*border: 1px solid red  Testing */
}

canvas {
    border: 1px solid red;
}