:root {
    --font-color: white;
    --main-font: 'Proxima Nova';
    --backup-font: 'Helvetica';
    --background-color: black;
    
    --primary-color: #4662b0;
    --darker-primary-color: #384e8d;

    --lighter-primary-color: #5F78BF;
    
    --nav-size: 5vh;
    --info-size: 20vw;
    --standard-section-spacing: 0.5em;
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: var(--main-font), var(--backup-font);

    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary-color);
}

.logo {}

.logo span {
    font-weight: bold;
    vertical-align: super;
    font-size: larger;
}

.logo img {
    height: var(--nav-size);
}

.links {padding-left: 0;} 

.links a {
    padding: calc(var(--nav-size)/4);
}

.links a:hover {
    background-color: var(--darker-primary-color);
}

#info-bar {
    position: absolute;
    z-index: 4;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: var(--standard-section-spacing);

    background-color: var(--primary-color);
    
    margin: 0.5em;
    max-width: var(--info-size);
    height: fit-content;
    border-radius: 0.5em;
}

.styled-input {
    border: 0;
    padding: 0.25em;
    border-radius: 0.75em;
}

.styled-submit {
    padding: 0.25em;
    border-radius: 0.75em;
}

#star-visual {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

#chromosphere-layer {
    position: absolute;
    z-index: 3;
}

#atmosphere-layer {
    position: absolute;
    z-index: 2;
}

#background-layer {
    position: absolute;
    z-index: 1;
}

#metrics {}

#options {
    padding: 0.5em;
    border-radius: 0.5em;

    background-color: var(--lighter-primary-color);
}
#options h4 {
    margin: 0.25em;
    text-align: center;
}

.input-container {
    margin-top: 0.50em;
    margin-bottom: 0.50em;
}

#options label {
    font-size: small;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container input {
    border: 0;

    margin-top: 0.50em;
    margin-bottom: 0.50em;
    
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 1em;
    padding-left: 1em;
}

.button-container input:hover {
    background-color: var(--primary-color);
    color: white;
}

#styled-metrics {
    padding: 0.5em;
    border-radius: 0.5em;

    background-color: var(--lighter-primary-color);
}
#styled-metrics h4 {
    margin: 0.25em;
    text-align: center;
}